In [1]:
import os
import numpy as np
import pandas as pd

import p2pspatial
import pulse2percept.implants as p2pi

%matplotlib inline
import matplotlib.pyplot as plt

/home/mbeyeler/anaconda3/lib/python3.5/site-packages/skvideo/__init__.py:356: UserWarning: avconv/avprobe not found in path:
  warnings.warn("avconv/avprobe not found in path: " + str(path), UserWarning)
2018-04-25 15:20:24,968 [pulse2percept] [INFO] Welcome to pulse2percept

In [2]:
datafolder = os.path.join(os.environ['DATA_ROOT'], '2018-beyeler-shape')

In [3]:
subject_params = {
    'TB': {
        'implant_type': p2pi.ArgusI,
        'implant_x': -1527,
        'implant_y': -556,
        'implant_rot': -1.13,
        'loc_od_x': 13.6,
        'loc_od_y': 0.0,
        'xrange': (-36.9, 36.9),
        'yrange': (-36.9, 36.9)
    },
    '12-005': {
        'implant_type': p2pi.ArgusII,
        'implant_x': -1761,
        'implant_y': -212,
        'implant_rot': -0.188,
        'loc_od_x': 15.4,
        'loc_od_y': 1.86,
        'xrange': (-30, 30),
        'yrange': (-22.5, 22.5)
    },
    '51-009': {
        'implant_type': p2pi.ArgusII,
        'implant_x': -799,
        'implant_y': 93,
        'implant_rot': -1.09,
        'loc_od_x': 15.7,
        'loc_od_y': 0.75,
        'xrange': (-32.5, 32.5),
        'yrange': (-24.4, 24.4)
    },
    '52-001': {
        'implant_type': p2pi.ArgusII,
        'implant_x': -1230,
        'implant_y': 415,
        'implant_rot': -0.457,
        'loc_od_x': 15.9,
        'loc_od_y': 1.96,
        'xrange': (-32, 32),
        'yrange': (-24, 24)
    }
}

In [4]:
data = []
for key, values in subject_params.items():
    values.update({'subject_id': key})
    data.append(values)
df = pd.DataFrame(data)
df

,implant_rot,implant_type,implant_x,implant_y,loc_od_x,loc_od_y,subject_id,xrange,yrange
0,-1.130,<class 'pulse2percept.implants.ArgusI'>,-1527,-556,13.6,0.00,TB,"(-36.9, 36.9)","(-36.9, 36.9)"
1,-1.090,<class 'pulse2percept.implants.ArgusII'>,-799,93,15.7,0.75,51-009,"(-32.5, 32.5)","(-24.4, 24.4)"
2,-0.457,<class 'pulse2percept.implants.ArgusII'>,-1230,415,15.9,1.96,52-001,"(-32, 32)","(-24, 24)"
3,-0.188,<class 'pulse2percept.implants.ArgusII'>,-1761,-212,15.4,1.86,12-005,"(-30, 30)","(-22.5, 22.5)"

In [5]:
df.to_csv(os.path.join(datafolder, 'subjects.csv'))